# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="prisma+postgres://localhost:51213/?api_key=eyJkYXRhYmFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zdGdyZXNAbG9jYWxob3N0OjUxMjE0L3RlbXBsYXRlMT9zc2xtb2RlPWRpc2FibGUmY29ubmVjdGlvbl9saW1pdD0xMCZjb25uZWN0X3RpbWVvdXQ9MCZtYXhfaWRsZV9jb25uZWN0aW9uX2xpZmV0aW1lPTAmcG9vbF90aW1lb3V0PTAmc29ja2V0X3RpbWVvdXQ9MCIsIm5hbWUiOiJkZWZhdWx0Iiwic2hhZG93RGF0YWJhc2VVcmwiOiJwb3N0Z3JlczovL3Bvc3RncmVzOnBvc3RncmVzQGxvY2FsaG9zdDo1MTIxNS90ZW1wbGF0ZTE_c3NsbW9kZT1kaXNhYmxlJmNvbm5lY3Rpb25fbGltaXQ9MTAmY29ubmVjdF90aW1lb3V0PTAmbWF4X2lkbGVfY29ubmVjdGlvbl9saWZldGltZT0wJnBvb2xfdGltZW91dD0wJnNvY2tldF90aW1lb3V0PTAifQ"

DATABASE_URL="mongodb+srv://heyama:heyama2026@heyama.8vj0qlm.mongodb.net/heyama_db?retryWrites=true&w=majority"

# B2_ENDPOINT="https://s3.us-east-005.backblazeb2.com"
# B2_REGION="us-east-005"
# B2_ACCESS_KEY_ID="005611851b14c4f0000000001"
# B2_SECRET_ACCESS_KEY="K0056xryxR4P2qqGpk4Z9JKfab5SKdQ"
# B2_BUCKET_NAME="heyama-bucket"
# B2_BUCKET_ID="4671c1187521bbc194dc041f"

R2_ACCOUNT_ID="af68537218075dcba80b0ccc122548b1"
R2_ACCESS_KEY_ID="0f7099e60b835480a5d29c2d71ecd049"
R2_SECRET_ACCESS_KEY="05c9509dc166db537ee87ec786a21f9398ece91f272e1e97b16472bb766729e3"
R2_BUCKET_NAME="heyama-bucket"
R2_ENDPOINT="https://af68537218075dcba80b0ccc122548b1.r2.cloudflarestorage.com"
R2_PUBLIC_URL="https://pub-75e2d10083024fa894c5ac514beae490.r2.dev"